@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welcome to Gaganvir's Online Store!</h1>
    <p>Your one-stop shop for the latest and greatest products.</p>
    <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Browse Products</a>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Admin Page</a>
</div>

<footer>
    <p>Gaganvir bhullar</p>
    <p>991441082</p>
</footer>
